**/__pycache__/**
.nix-venv
.env
.hypothesis/
.coverage
.pytest_cache
.vscode
.history
.idea
.mypy_cache

*private_key*
keys.json

/data/*
!/data/sponsor_config.yaml
!/data/bounties/
/agent/
/service/
/asylum_abci_app/

packages/eightballer/protocols/default
packages/eightballer/protocols/http
packages/eightballer/protocols/prometheus
packages/open_aea/
packages/eightballer/connections/http_client
packages/eightballer/connections/http_server
packages/eightballer/connections/prometheus
packages/eightballer/skills/prometheus
packages/eightballer/skills/metrics
